[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pyinquirer = "*"
flake8 = "*"
setuptools = "*"
build = "*"
importlib-resources = "*"

[dev-packages]

[requires]
python_version = "3.9"
